.main-wrapper {
  overflow-x: hidden;
}

.editor-container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  background: #f3f2f1;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
