<div class="toolbar-container d-flex flex-wrap align-items-center p-1 bg-light border-bottom sticky-top shadow-sm">
  <div class="toolbar-section px-2 border-end d-flex align-items-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('undo')" ngbTooltip="Undo (Ctrl+Z)">
        <i class="bi bi-arrow-counterclockwise"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('redo')" ngbTooltip="Redo (Ctrl+Y)">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </div>
  </div>

  <div class="toolbar-section px-2 border-end d-flex align-items-center">
    <div ngbDropdown class="d-inline-block me-1">
      <button type="button" class="btn btn-light btn-sm dropdown-toggle font-select-btn" id="fontFamilyDropdown" ngbDropdownToggle>
        {{currentFontFamily}}
      </button>
      <div ngbDropdownMenu aria-labelledby="fontFamilyDropdown" class="font-dropdown-menu">
        @for (family of fontFamilies; track family) {
          <button ngbDropdownItem (click)="setFontFamily(family)" [style.font-family]="family">{{family}}</button>
        }
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-light btn-sm dropdown-toggle size-select-btn" id="fontSizeDropdown" ngbDropdownToggle>
        {{currentFontSize}}
      </button>
      <div ngbDropdownMenu aria-labelledby="fontSizeDropdown" class="size-dropdown-menu">
        @for (size of fontSizes; track size) {
          <button ngbDropdownItem (click)="setFontSize(size)">{{size}}</button>
        }
      </div>
    </div>
  </div>

  <div class="toolbar-section px-2 border-end d-flex align-items-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('bold')" ngbTooltip="Bold (Ctrl+B)">
        <i class="bi bi-type-bold"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('italic')" ngbTooltip="Italic (Ctrl+I)">
        <i class="bi bi-type-italic"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('underline')" ngbTooltip="Underline (Ctrl+U)">
        <i class="bi bi-type-underline"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('strike')" ngbTooltip="Strikethrough">
        <i class="bi bi-type-strikethrough"></i>
      </button>
    </div>
  </div>

  <div class="toolbar-section px-2 border-end d-flex align-items-center">
    <div ngbDropdown class="d-inline-block me-1">
      <button type="button" class="btn btn-light btn-sm p-2" id="textColorDropdown" ngbDropdownToggle ngbTooltip="Font Color">
        <i class="bi bi-palette-fill"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="textColorDropdown" class="color-picker-menu">
        <div class="d-flex flex-wrap p-2" style="width: 150px;">
          <div class="color-box" style="background: black;" (click)="setTextColor('black')"></div>
          <div class="color-box" style="background: #444;" (click)="setTextColor('#444')"></div>
          <div class="color-box" style="background: #888;" (click)="setTextColor('#888')"></div>
          <div class="color-box" style="background: red;" (click)="setTextColor('red')"></div>
          <div class="color-box" style="background: blue;" (click)="setTextColor('blue')"></div>
          <div class="color-box" style="background: green;" (click)="setTextColor('green')"></div>
          <div class="color-box" style="background: orange;" (click)="setTextColor('orange')"></div>
          <div class="color-box" style="background: purple;" (click)="setTextColor('purple')"></div>
        </div>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-light btn-sm p-2" id="bgColorDropdown" ngbDropdownToggle ngbTooltip="Text Highlight Color">
        <i class="bi bi-highlighter"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="bgColorDropdown" class="color-picker-menu">
        <div class="d-flex flex-wrap p-2" style="width: 150px;">
          <div class="color-box" style="background: yellow;" (click)="setBackgroundColor('yellow')"></div>
          <div class="color-box" style="background: lightgreen;" (click)="setBackgroundColor('lightgreen')"></div>
          <div class="color-box" style="background: cyan;" (click)="setBackgroundColor('cyan')"></div>
          <div class="color-box" style="background: pink;" (click)="setBackgroundColor('pink')"></div>
          <div class="color-box" style="background: transparent; border: 1px solid #ccc;" (click)="setBackgroundColor('transparent')"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar-section px-2 border-end d-flex align-items-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('align_left')" ngbTooltip="Align Left (Ctrl+L)">
        <i class="bi bi-justify-left"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('align_center')" ngbTooltip="Center (Ctrl+E)">
        <i class="bi bi-justify-control"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('align_right')" ngbTooltip="Align Right (Ctrl+R)">
        <i class="bi bi-justify-right"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('align_justify')" ngbTooltip="Justify (Ctrl+J)">
        <i class="bi bi-justify"></i>
      </button>
    </div>
  </div>

  <div class="toolbar-section px-2 border-end d-flex align-items-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('bullet_list')" ngbTooltip="Bullets">
        <i class="bi bi-list-ul"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('ordered_list')" ngbTooltip="Numbering">
        <i class="bi bi-list-ol"></i>
      </button>
    </div>
    <div class="btn-group ms-1" role="group">
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('outdent')" ngbTooltip="Decrease Indent">
        <i class="bi bi-text-indent-left"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="execute('indent')" ngbTooltip="Increase Indent">
        <i class="bi bi-text-indent-right"></i>
      </button>
    </div>
  </div>

  <div class="toolbar-section px-2 d-flex align-items-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-light btn-sm p-2" (click)="insertLink()" ngbTooltip="Link (Ctrl+K)">
        <i class="bi bi-link-45deg"></i>
      </button>
      <button type="button" class="btn btn-light btn-sm p-2" (click)="insertImage()" ngbTooltip="Pictures">
        <i class="bi bi-image"></i>
      </button>
    </div>
  </div>
</div>
